<html>
<head>

</head>
<body style="background-color: coral">

{% extends 'blog/base.html' %}

{% block content %}
    <h1>About Page</h1>
    <p> <b>Mr N. Durga Prasad ( M.Tech)</b>, PostGraduate from Andhra University
        and then started working as Software Engineer from IBM.</p>

    <p>After few years of working found that there is a BIG GAP
        between what Corporates want and what candidate’s posses.</p>

    <h3>Contact to DurgaSoft :</h3>
    <pre style="color:blue">
    <b >DURGA SOFTWARE SOLUTIONS at Maitrivanam</b>
    Plot No : 202, IInd Floor,
    HUDA Maitrivanam,
    Ameerpet, Hyderabad-500038.

    Ph.No : +91 - <b>9246212143, 8096969696</b>
    </pre>

{% endblock %}

</body>
</html>