<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Questions</title>
    <style>
        ol li{
            margin-bottom: 20px;
        }
        ol li a{
            text-decoration: none;
            color: black;
        }
         ol li a:hover{
            text-decoration: underline;
             color: blue;
             font-size: 30px;
        }

    </style>
</head>
<body style="background-color: greenyellow">

{% extends 'blog/base.html' %}
{% block content %}
     <h1>Python Questions</h1>
    <ol>
        <li><a href="">What is the difference between list and tuple?</a> </li>

        <li><a href="">What are mutable and immutable data types?</a> </li>

        <li><a href="">What the difference is between append and extend ?</a> </li>

        <li><a href="">What is call by reference and call by value?</a> </li>

        <li><a href="">Define local and Global variable in python.</a> </li>

        <li><a href="">Define nonlocal variable in python.</a> </li>

        <li><a href="">What the difference is between find and index method in a string ?</a> </li>

        <li><a href="">How to remove an element from a list?</a> </li>

        <li><a href="">How to add a list of items in between list ?</a> </li>

        <li><a href="">What is the difference between arguments and parameters?</a> </li>

        <li><a href="">What is self?</a> </li>

        <li><a href="">What is weakly typed and strongly typed?</a> </li>

        <li><a href="">What is statically typed and Dynamically typed ?</a> </li>

        <li><a href="">What are the differences between Python 2.x and Python 3.x?</a> </li>

        <li><a href="">What does this mean: *args, **kwargs?</a> </li>

        <li><a href="">What is the use of enumerate function?</a> </li>

        <li><a href="">What is the use of break and continue keyword ?</a> </li>

        <li><a href="">What is lambda expression?</a> </li>

        <li><a href="">What are the Keywords in python?</a> </li>

        <li><a href=""> What is Built-in Exceptions in python?. Give some examples</a> </li>

        <li><a href="">What is Identifier in python?  </a> </li>

        <li><a href="">What is list comprehension ?</a> </li>

        <li><a href="">What is dictionary comprehension ?</a> </li>

        <li><a href="">What is set in python?</a> </li>

        <li><a href="">Can I use a list as a stack?</a> </li>

        <li><a href="">Can I use a list as a queue?</a> </li>

        <li><a href="">What is iterator?</a> </li>

        <li><a href="">What is generator ?</a> </li>

        <li><a href="">How to open a file in python?</a> </li>

        <li><a href="">What is the difference between read, redline and readlines ?</a> </li>

        <li><a href="">What is __pycache__ ?</a> </li>

        <li><a href="">How to access a private attribute from a class?</a> </li>

        <li><a href="">What does write function return ?</a> </li>

        <li><a href="">Explain Memory allocation in python.</a> </li>

        <li><a href="">Differentiate Class variable and instance variable.</a> </li>

        <li><a href="">What are built in class attributes ?</a> </li>
    </ol>
{% endblock %}
</body>
</html>